# Set the default behavior, in case people don't have core.autocrlf set.
*.cs text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# git probably auto-detects these as binary, but let's make absolutely sure.
*.png binary
